<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
</head>
<body>

  <h1 align="center">
<span>This is the HOME page!</span>
  </h1>
    <span>
      <p style="float: right; position: fixed; top: 10px; left: 1830px"><%= link_to 'About', about_path %></p>
    </span>

  <div align="center">
    <%= link_to image_tag('mountainscape.png'), root_path %>
  </div>

<div align="center">
<span style="position:relative; right:300px; top:10px">
  This is the first paragraph.
</span>

<span style="position:relative; left:300px; top:10px">
  This is my second paragraph
</span>
</div>

</body>
</html>
